@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar
{
  background-image: linear-gradient( to right,#02aab0, #00cdac );
  padding: 0 !important;
}
.nav-wrapper
{
  background-image: linear-gradient( to right,#02aab0, #00cdac );
  padding: 0 !important;
  position: sticky;
  top: 0;
  z-index: 10;

}
.navbar-brand img
{
  height: 80px;
  padding-left: 20px;
  background-color: #00cdac,#02aab0;
}
.brand-logo img
{
   height: 64px;
  padding-bottom: 8px;
  background-color: #00cdac,#02aab0;

}
.navbar-nav li
{
  padding: 0 10px;

}
.navbar-nav li a
{
  color: #fff !important ;
  font-weight: 600;
  float: right;
  text-align: left;
}
.navbar-toggler
{
  outline: none !important;
}
#banner
{
  background-image: linear-gradient( to right,#02aab0, #00cdac );
  color: #fff;
  padding-top: 5%;
}
.prime
{
  font-size:40px ;
  font-weight: 600;
  margin-top: 100px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  display:flex ;

}
.bottom-img{
  width: 100%;
}
#services
{
  padding:80px 0 ;

}
#services-img{
  width: 100px;
  margin-top: 20px;
}
.services{
  padding: 20px;
}
.services h4{
  padding:5px ;
  margin-top: 25px;
  text-transform: uppercase;
}
.title::before
{
  content:'';
  background: #00cdac;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}
.title::after
{
  content:'';
  background: #00cdac;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}
#services .btn-primary
{
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient( to right,#02aab0, #00cdac );
}
#about-us
{
  background: #f8f9fa;
  padding-bottom: 50px;
  padding-top: 50px;
}
.about-title
{
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}
#about-us ul li
{
margin: 10px 0 ;
}
#about-us ul
{
  margin-left:20px;
}
#social-media
{
  background: #f8f9fa;
  padding: 100px 0;
}
#social-media p
{
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
.social-icons img {
  width: 60;
  transition: 0.5s;
  padding: 10px;
}
.social-icons a:hover img
{
  transform: translateY(-10px);
}
#footer
{
  background-image: linear-gradient( to right,#02aab0, #00cdac );
  color: #fff;
}
.footer img{
  width: 100px;
}
.footer-box
{
  padding: 20px;
}
.footer-box img
{
  width: 120px;
  margin-bottom: 20px ;
}
#main{
background-image: linear-gradient( to right,#02aab0, #00cdac );
color: #fff;
padding-top: 5%;
}
.prime
{
font-size:40px ;
font-weight: 600;
margin-top: 100px;
padding: 20px;
box-sizing: border-box;
border-radius: 4px;
display:flex ;
}
.btn{
border: solid black;
padding-left: 20px;
padding-right: 20px;
padding: 0.6rem 1.3rem;
text-decoration: none
}
.contactus{
  padding-bottom: 30px;
}
.prime2{
  padding-bottom: 70px;
}